:root{
    --c-pink: hsl(322, 100%, 66%);
    --c-very-pale-cyan: hsl(193, 100%, 96%);
    --c-very-dark-cyan: hsl(192, 100%, 9%);
    --c-grayish-blue: hsl(208, 11%, 55%);



}


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    font-family: 'open sans', sans-serif;
    box-sizing: border-box;

    @media only screen and (max-width: 1578px){
        font-size:  60% ;
    }
    @media only screen and (max-width: 1412px){
        font-size:  58%;
    }

    @media only screen and (max-width: 1365px){
        font-size:  55%;
    }

    @media only screen and (max-width: 1295px){
        font-size:  52%;
    }

    @media only screen and (max-width: 1223px){
        font-size:  50%;
    }

    @media only screen and (max-width: 950px){
        font-size:  45%;
    }

    @media only screen and (max-width: 680px){
        font-size:  50%;
    }
}



h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Bahnschrift', sans-serif ;
    color: var(--c-very-dark-cyan);
    line-height: 1.5;
}


img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    line-height: 1.5;
}
li{
    list-style: none;
}

p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    border-radius: 33rem;
    padding: .85rem 4rem ;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0 2px 5px var(--c-grayish-blue);
    color: var(--c-very-dark-cyan);

    &--white{
        background-color: #fff;
    }
    &--pink{
        background-color: var(--c-pink);
        color: #fff;
    }

    &--medium{
        padding: 1.4rem 5rem;
    }
    &--large{
        padding: 2rem 10rem;

        @media only screen and (max-width: 550px){
            padding: 2rem 5rem;
        }
    }

}

.header__logo,
.footer__logo{
   width: 70%;

   @media only screen and (max-width: 550px){
    width: 50%;
}
}


.top-wrapper{
    background: url('images/bg-hero-desktop.svg') no-repeat;
    background-size: cover;
    padding: 5rem 5%;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero{
    padding: 5rem 0;

    display: grid;
    grid-template-columns: 40% 1fr;

    @media only screen and (max-width: 1176px){
        grid-template-columns: 50% 1fr;
    }

    @media only screen and (max-width: 850px){
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 5rem;
    }

    gap: 5rem;
    align-items: center;



    &__text{


        &__heading{
            font-size: 6rem;
            line-height: 1.3;
            margin-bottom: 3rem;

            @media only screen and (max-width: 1578px){
                font-size:  5.6rem;
            }

            @media only screen and (max-width: 510px){
                font-size:  4.2rem;
            }
            

        }

        &__para{
            color: var(--c-very-dark-cyan);
            margin-bottom: 2rem;
        }
    }


}





.features{
    padding: 15rem 5%;


}


.feature__card{
    background-color: #fff;
    display: grid;
    grid-template-columns: 40% 40%;

    @media only screen and (max-width: 680px){
        grid-template-columns: 1fr;
        padding: 5rem;
        gap: 4rem;
        text-align: center;
    }


    align-items: center;
    justify-content: space-between;

    padding: 5rem 1rem 5rem 10rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--c-grayish-blue);


    &__text{
        @media only screen and (max-width: 680px){
            grid-row: 2/3;
            
        }

        &__heading{
            font-size: 3.8rem;
            color: var(--c-very-dark-cyan);
            margin-bottom: 1rem;
        }

        &__para{
            color: var(--c-grayish-blue);
        }
    }



    &__img{
        max-width: 50rem;
    }
}




.cta{
    width: 90%;
    max-width: max-content;
    margin: 0 auto;
    padding: 5rem 10rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--c-grayish-blue);
    text-align: center;
    background-color: #fff;
    margin-bottom: -7.5rem;
    position: relative;
    z-index: 1;

    
    @media only screen and (max-width: 580px){
        padding: 5rem  2rem;
    }


    &__heading{
        font-size: 3rem;
        @media only screen and (max-width: 550px){
            font-size: 2.4rem;
        }
        margin-bottom: 2rem;

        @media only screen and (max-width: 550px){
            font-size: 2.2rem;
        }
    }
}

.footer{
    padding: 15rem 5% 5rem;
    background-color: var(--c-very-dark-cyan);


    &__content{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        margin-top: 4rem;
        gap: 8rem;
        @media only screen and (max-width: 680px){
            grid-template-columns: 1fr;
            gap: 3rem;
            font-size: 1.6rem;
        }
    



    }

    &__contact-info{

            &__div{
                display: flex;
                color: #fff;
                align-items: flex-start;

                & + & {
                    margin-top: 2rem;
                }
            }

            &__img{
                margin-right: 1.5rem;
                &--address{
                    margin-top: .5rem;
                }
            }
            &__para{
                font-size: 1.4rem;
                width: 80%;

                @media only screen and (max-width: 680px){
                    font-size: 1.6rem;
                }
            }
    }

    &__nav{


        &__item{
            font-size: 1.4rem;
            color: #FFF;
            display: block;
            padding-bottom: 1.5rem;

            @media only screen and (max-width: 680px){
                font-size: 1.6rem;
            }
        }

    }

    &__social{
        display: flex;

        @media only screen and (max-width: 680px){
            justify-content: center;
        }
        &__item{
            border: 2px solid #fff;
            display: block;
            position: relative;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 3rem;
            margin-right: 1rem;



            & img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1.75rem;
                transform: translate(-50%, -50%);
            }
        }

    }


    &__copyright{
        color: #fff;
        text-align: right;
        font-size: 1.2rem;

        @media only screen and (max-width: 680px){
            text-align: center;
            margin-top: 2rem;
        }
    
    }
}