:root {
  --c-pink: hsl(322, 100%, 66%);
  --c-very-pale-cyan: hsl(193, 100%, 96%);
  --c-very-dark-cyan: hsl(192, 100%, 9%);
  --c-grayish-blue: hsl(208, 11%, 55%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'open sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bahnschrift', sans-serif;
  color: var(--c-very-dark-cyan);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  line-height: 1.5;
}

li {
  list-style: none;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  border-radius: 33rem;
  padding: .85rem 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 5px var(--c-grayish-blue);
          box-shadow: 0 2px 5px var(--c-grayish-blue);
  color: var(--c-very-dark-cyan);
}

.btn--white {
  background-color: #fff;
}

.btn--pink {
  background-color: var(--c-pink);
  color: #fff;
}

.btn--medium {
  padding: 1.4rem 5rem;
}

.btn--large {
  padding: 2rem 10rem;
}

.top-wrapper {
  background: url("images/bg-hero-desktop.svg") no-repeat;
  background-size: cover;
  padding: 5rem 5%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  padding: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text__heading {
  font-size: 6rem;
  line-height: 1.3;
  margin-bottom: 3rem;
}

.hero__text__para {
  color: var(--c-very-dark-cyan);
  margin-bottom: 2rem;
}

.features {
  padding: 15rem 5%;
}

.feature__card {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 1rem 5rem 10rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px var(--c-grayish-blue);
          box-shadow: 0 0 10px var(--c-grayish-blue);
}

.feature__card__text__heading {
  font-size: 3.8rem;
  color: var(--c-very-dark-cyan);
  margin-bottom: 1rem;
}

.feature__card__text__para {
  color: var(--c-grayish-blue);
}

.feature__card__img {
  max-width: 50rem;
}

.cta {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  padding: 5rem 10rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px var(--c-grayish-blue);
          box-shadow: 0 0 10px var(--c-grayish-blue);
  text-align: center;
  background-color: #fff;
  margin-bottom: -7.5rem;
  position: relative;
  z-index: 1;
}

.cta__heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.footer {
  padding: 15rem 5% 5rem;
  background-color: var(--c-very-dark-cyan);
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 4rem;
  gap: 8rem;
}

.footer__contact-info__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__contact-info__div + .footer__contact-info__div {
  margin-top: 2rem;
}

.footer__contact-info__img {
  margin-right: 1.5rem;
}

.footer__contact-info__img--address {
  margin-top: .5rem;
}

.footer__contact-info__para {
  font-size: 1.4rem;
  width: 80%;
}

.footer__nav__item {
  font-size: 1.4rem;
  color: #FFF;
  display: block;
  padding-bottom: 1.5rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social__item {
  border: 2px solid #fff;
  display: block;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3rem;
  margin-right: 1rem;
}

.footer__social__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.75rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */